/***NAVBAR***/
.navbar-default {
  background-color: #B7312C;
  border-radius: 0;
  background-image: none;
    font-family:fantasy;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: floralwhite;
  font-size: 20px;
  /*font-weight: bold;*/
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #001a72;
}

/* Navbar links (list)*/
.navbar-default .navbar-nav > li > a {
  color: floralwhite;
  font-size: 16px;
    background-color: #b7312c;
    padding-top: 5px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: floralwhite;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #001a72;
  color: #242424;
}

/*Page elements*/
div { 
    width: auto;
    border: 25px white;
    padding: 5px;
    /*text-align: center;*/
}
h1 {
    background-color: #744f28;
    background-repeat: repeat-x;
    padding: 0px;
    margin:auto;
}
h2 {
    color: floralwhite;
    background-color: #001a72;
    padding-top: 2%;
    max-width: inherit;
}
h3 {
    color: floralwhite;
    /*background-color: #b7312c;*/
    background-repeat: repeat-x;
    padding: 1%;
    font-size: 21px
    /*max-width: inherit;*/
}
h4 {
    color: floralwhite;
    /*background-color: #b7312c;*/
    background-repeat: repeat-x;
    padding: 1px;
    margin-left: 5%;
    /*max-width: inherit;*/
}
ul {
    align-items: center;
    /*background-color: #b7312c;*/
    background-repeat: repeat-x;
    padding: 1%;
}
li{
    color: floralwhite;
}
p {
    /*background-color: #b7312c;*/
    background-image: none;
    background-repeat: no-repeat;
    padding: 1%;
    font-size: 14px;
    font-size-adjust: auto;
    color: floralwhite;
}
.jumbotron {
  background-color: #744f28;
  text-align: center;
  color: #fff;
  padding: 2%;
}

.jumbotron h2 {
    font-family:fantasy;
  font-size: 36px;
  font-weight: bold;
}
.container {
    background-color: #B7312C;
    max-width: auto;
}
.subcontainer {
    background-color: #001a72;
    max-width: auto;
    margin: 1%;
    padding: 2%;
}
.row {
    padding: 25px;
    border-bottom: white;
}
.thumbnail port {
    max-width: 10%;
    max-height: 10%;
    /*text-align: center;*/
    display: block;
    margin: 0 auto;
}
.centered {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.column {
    float:left;
    width: 50%;
    background-color: #001a72;
}
.column1q {
    float:left;
    width: 25%;
    background-color: #001a72;
}
.column3q {
    float:left;
    text-align: center;
    width: 75%;
    background-color: #001a72;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}


body {
    background-image: url(../img/bark.jpg);
    background-size: 200%;
    background-color: #744f28;
    background-repeat: repeat-y;
    padding: 10%;
    font-family:sans-serif;
    align-content: center;
    margin:auto;
    max-width: inherit;
    }

@media (max-width:600px){
    .column {
        width: 100%;
}
